<%- include("partials/header.ejs") %>


<% if (locals.blogTitles) { %>
    
    <form action="/read" method="GET">
    <ul>
    <% for(let i = 0; i < blogTitles.length; i++) { %>
        <li id=<%= i %>><a href="/read/<%= i %>"><%= blogTitles[i] %></a></li>
    <% } %>
    </ul>   
    </form>
<% } else { %>
    <h1>No Content here</h1>
    <% } %>

<form action="/writeBlog" method="GET">
    <button>Write</button>
</form>

<%- include("partials/footer.ejs") %>