<%- include("partials/header.ejs") %>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        
        <span class="fs-4 heading">Personal Blog</span>
      </a>

      <ul class="nav nav-pills">
        
        <form  method="GET">
            <li class="nav-item"><a href="/writeBlog" class="nav-link myButtons" id="navButton" aria-current="page">Write Blog</a></li>
        </form>
        <li class="nav-item"><a href="#" class="nav-link home">About</a></li>
      </ul>
    </header>
</div>




<% if (locals.blogTitles) { %>
    
    <form  method="GET">
    <div class="list-group blogList">
    <% for(let i = 0; i < blogTitles.length; i++) { %>
        <a href="/read/<%= i %>" id=<%= i %> class="list-group-item list-group-item-action listItems">
            <%= blogTitles[i] %>
        </a>
    <% } %>
</div>
    </form>
    

   
<% } else { %>
    <div class="noContent">
        <h1>No Content here</h1>
        <h5>Click the Write Blog button in the navigation panel and start writing</h5>
    </div>
    <% } %>

    



<%- include("partials/footer.ejs") %>