<%- include("partials/header.ejs") %>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        
        <span class="fs-4 heading">Personal Blog</span>
      </a>

      <ul class="nav nav-pills">
        
        <form  method="GET">
            <li class="nav-item"><a href="/writeBlog" class="nav-link active" id="navButton" aria-current="page">Write Blog</a></li>
        </form method="GET">
        <li class="nav-item"><a href="/home" class="nav-link home">HOME</a></li>
      </ul>
    </header>
</div>


<% if (locals.title) { %>

    <div class="blogUpdate">
        <form action="/updated/<%= id %>" method="post">
            <div class="readTitle">
                <h3>
                    <%= title %>
                </h3>  
             </div>
             <div class=" formItem">
                <textarea type="text" name="uBody" class="form-control" id="blogBody" ><%= body %></textarea>
            </div>
            <div class=" formItem">
                <p>Click the below button once you done with editing.</p>
            </div>
            <input type="submit" class="btn btn-outline-danger myButtons" value="Submit">
        </form>
    </div>


<% } else { %>
    <h1>No content</h1>
<% } %>





<%- include("partials/footer.ejs") %>